<!--Jumbotron welcome page-->
        <div class="jumbotron">
            <center>
                <h2>Learning Resource Manager</h2>
                </br>
                <h1>Welcome to the LRM!</h1>
                </br>
                </br>
                <p>Use this application to store and recall links to helpful resources you find along the way.</p>
                <p>The three parts of this project are the AngularJS based client side, the C# API server side and then an SQL database.</p>
                </br>
                <p><a href="#DetailedItem" class="btn btn-primary btn-lg">View All Resources</a></p>
            </center>
        </div>